.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #7b1e3a;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}
